<h2> Rental Index Page </h2>
<head>
</head>

<table>
<thead>

<tr>
<th> Street Address </th>

<th> City </th>

<th> State </th>

<th> Owner </th>
</tr>
</thead>

<tbody>

<% @rentals.each do |rental| %>
<li> 
<% full_add = rental.street_add + rental.city + rental.state + rental.owner%>
<%= link_to full_add, rental%>
</li>

<% end %>



</tr>
</tbody>
</table>