<h2> Rental Index Page </h2>
<head>
</head>

</tr>
</thead>

<tbody>

<% @rentals.each do |rental| %>
<li> 
<%= link_to "#{rental.street_add} #{rental.city} #{rental.state} - Owner #{rental.owner}", rental%>
</li>

<% end %>



</tr>
</tbody>
</table>