<h2> Rental Index Page </h2>
<head>
</head>

<table>
<thead>

<tr>
<th> Street Address </th>

<th> City </th>

<th> State </th>

<th> Owner </th>
</tr>
</thead>

<tbody>

<% @rentals.each do |rental| %>
<li> 
<%= link_to "#{rental.street_add} #{rental.city} #{rental.state} - Owner #{rental.owner}", rental%>
</li>

<% end %>



</tr>
</tbody>
</table>