<h2> Rental Index Page </h2>
<head>
</head>

<table>
<thead>

<tr>
<th> Street Address </th>

<th> City </th>

<th> State </th>

<th> Owner </th>
</tr>
</thead>

<tbody>
<ul>
<% @rentals.each do |rental| %>
<tr>
<td> <li><%= rental.street_add %> </td>
<td> <%= rental.city %> </td>
<td> <%= rental.state %> </td>
<td> <%= rental.owner %> </td>
</li>
</ul>
<% end %>
<%#= link_to 'Rental (view)', rental_path(@rental) %>


</tr>
</tbody>
</table>