<h2> Rental Index Page </h2>
<head>
<h3> Welcome, <%= current_user.username %> !</h3>
</head>

<p> All Rentals </p>
<body>

<% @rentals.each do |rental| %>
<li> 
<%= link_to "#{rental.street_add} #{rental.city} #{rental.state} - Owner #{rental.owner}", rental%>
</li>

<% end %>

<%#= link_to 'View My Rentals', rental_path(@rental) %> 
<%= link_to 'Add New Rental', new_rental_path %> 
<%= button_to "Logout", destroy_user_session_path, method: :delete %>

</body>