
<p>
  <strong>Title:</strong>
  <%= review.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= review.body %>
</p>

<p>
  <strong>Rating:</strong>
  <%= review.rating %>
</p>

<p>
  <strong>User:</strong>
  <%= review.user.username %>
</p>

