<p>
  <strong>Review:</strong>
  <%= review.title %>
</p>

<p>
  <strong>Review:</strong>
  <%= review.body %>
</p>

<p>
  <strong>Review:</strong>
  <%= review.rating %>
</p>

<p>
  <strong>User:</strong>
  <%= review.user.username %>
</p>