<h2> Edit Review </h2> 

<%= render 'form' %>

<%= link_to 'Home', rentals_path %>
<%= button_to 'Delete', rental_review_path(@rental, @review), method: :delete, data: {confirm: "Are you sure?"} %>