<h2> Reviews Index </h2>
<table>
<thead>
<tr>
<th> Rating </th>
<th> Comment</th>
</tr>
</thead>

<tbody>
  <% @reviews.each do |review| %>

  <%= review.title %>
  <%= review.body %>
  <%= review.rating %>

  <%= link_to "#{review.title}", rental_review_path(review.rental, review) %>

  <% end %>
  </tr>
  </tbody>
  </table>